<div class="center">
  <% if current_user %>
    <%= link_to 'New blog article', new_article_path, class: "btn btn-large" %>
  <% end %>
</div><br />
<div id="articles">
  <%= render @articles %>
  <%= will_paginate @articles %>
</div>